.AQI-box {
    background-color: rgb(196, 216, 216);
    height: 800px;
    width: 300px;
}

.AQI-table {
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
.blurred-row {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    position: relative;
}