body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.center-content {
  display: flex;
  justify-content: center;
}

.logo {
  height: 100px;
  border-radius: 50%;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.form-box {
  background-color: rgb(95, 184, 184);
  height: 600px;
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
}

.signin-box {
  background-color: rgb(153, 196, 169);
  height: 200px;
  width: 350px;
}